{
  "openapi": "3.0.1",
  "info": {
    "title": "Zadar Account API",
    "version": "v1"
  },
  "paths": {
    "/api/User/AdminLogin": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Login user in application and get JWT token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CMSLoginInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CMSLoginInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CMSLoginInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/User/User": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get logged user",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/User/Block": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Block user",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/User/Unblock": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Unblock user",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CMSLoginInput": {
        "required": [
          "appId",
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "LoginInput": {
        "required": [
          "appId",
          "password",
          "phoneNumber"
        ],
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "surname": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "imageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "oib": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Enter JWT Bearer token **_only_**",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ],
  "servers": [
    {
      "url": "https://account.zadar.mediaapp.eu",
      "description": ""
    }
  ]
}